@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300..500&family=Inter:wght@100..900&display=swap");

:root {
  /* font-size: 16px; */
  --primary: rgb(50, 50, 50);
  --primarydark: rgb(25, 25, 25);
  --secondary: rgb(204, 204, 204);
  --secondarydark: rgb(175, 175, 175);
  --accent: rgb(255, 121, 26);
  --accentdark: rgb(213, 89, 0);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--secondary);
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "DM Mono", monospace; */
  font-weight: 650;
}

button,
input {
  font-family: inherit;
  accent-color: var(--accent);
}

.container {
  margin: 2rem auto 4rem;
  max-width: 1200px;
  padding: 0 2rem;
}

header {
  margin-bottom: 2rem;
}

.header-input {
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-input label {
  font-size: 0.9rem;
  font-weight: 600;
}
.header-input input {
  padding: 8px 10px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

button {
  padding: 0.3rem 0.6rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--secondary);
  cursor: pointer;
}

label,
input {
  display: block;
}

button#add-book {
  font-size: 1.2rem;
  background: var(--accent);
}

[data-modal] {
  /* display: flex; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 100px; */
  width: 300px;
  padding: 1rem;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 4px 12px 32px rgba(0, 0, 0, 0.4);
  /* background: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(10px);
  margin: auto;
}

[data-modal] input[type="text"] {
  width: 100%;
}
[data-modal] input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
}

[data-modal]::backdrop {
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

#add-book-form {
  display: grid;
  gap: 1rem;
}

#add-book-form label {
  margin-bottom: 0.3rem;
}

.form-footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#form-close {
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
}

.book-cover {
  width: 100%;
}

#library {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, 200px);
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 200px;
  border-radius: 8px;
  background: white;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

.card img {
  margin-bottom: 0.4rem;
}

.book-author {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.35rem;
}

.book-info {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--secondary);
}

.book-btns {
  display: flex;
  justify-content: space-between;
}
.book-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
