@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300..500&family=Inter:wght@100..900&display=swap");

:root {
  /* font-size: 16px; */
  --primary: rgb(50, 50, 50);
  --primarydark: rgb(25, 25, 25);
  --secondary: rgb(120, 120, 120);
  --secondarydark: rgb(90, 90, 90);
  --accent: rgb(255, 121, 26);
  --accentdark: rgb(213, 89, 0);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Mono", monospace;
  font-weight: 500;
}

button,
input {
  font-family: inherit;
  accent-color: var(--accent);
}

.container {
  margin: 2rem auto 0;
  max-width: 1200px;
  padding: 0 2rem;
}

header {
  margin-bottom: 2rem;
}

.header-input {
  margin-top: 1rem;
  position: relative;
}

label,
input {
  display: block;
}

dialog {
  display: flex;
  position: absolute;
  top: 30px;
  padding: 1rem;
  border: none;
}

#add-book-dialog {
  display: none;
}

.book-cover {
  width: 100%;
}

#library {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 250px);
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card img {
  margin-bottom: 0.8rem;
}

.card h3 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary);
}

.book-remove-btn {
  width: 100%;
}
